<nav class="nav">
  <a href="/" class="nav__brand" style="color: white">
    <img src="images/logo.png" alt="Al Barleta Logo">
  </a>

  <input type="checkbox" id="nav__toggle">
  <label for="nav__toggle" class="nav__menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <ul class="nav__list">
    <li class="nav__item"><a href="#about">About</a></li>
    <li class="nav__item"><a href="#skills">Skills</a></li>
    <li class="nav__item"><a href="#contact">Contact</a></li>
  </ul>
</nav>